/* src/components/BackButton/BackButton.css */
.back-buttons {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: var(--text-light);
  font-size: 14px;
  transition: opacity 0.3s;
}

.back-buttons:hover {
  opacity: 0.2;

}

.back-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}